#root {
    /* max-width: 1280px; */
    width: 90vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin: 0 auto;
}

.article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;
    padding: 0;
}

.article-list li {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    max-width: 450px;
    margin: 16px;
}

.article-card {
    border: 2px solid;
}

.article-card img {
    width: 100%;
    border-bottom: 2px solid;
}

.article-card div {
    min-height: 72px;
    font-size: 18pt;
    text-align: left;
    padding: 0px 8px 4px 8px;
}

.article-body {
    text-align: left;
    min-width: 350px;
    max-width: 800px;
    margin: 0 auto;
}

.article-body img {
    display: block;
    width: 99%;
    margin: 16px auto 0;
    border: 2px solid;
}

.comment-divider {
    font-size: 20pt;
    border-bottom: 2px solid;
    margin: 8px auto;
    max-width: 800px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style-type: none;
    padding: 0;
}

.comment-list li {
    width: 100%;
    max-width: 800px;
    margin: 16px auto;
}

.comment-card {
    text-align: left;
    border: 2px solid;
    padding: 8px;
}

.comment-body {
    margin: 8px 0;
}