#root {
    /* max-width: 1280px; */
    width: 90vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding-bottom: 4px;
    border-bottom: 2px solid;
    margin: 0 auto;
}

.simple-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal-text {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.horizontal-left {
    text-align: left;
    min-width: 125px;
}

.horizontal-right {
    text-align: right;
    min-width: 125px;
}

.navbar a {
    margin: 0 8px;
}

.topic-list {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.topic-card {
    border: 2px solid;
    margin: 16px 0;
}

.article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;
    padding: 0;
}

.article-page {
    min-width: 350px;
    max-width: 800px;
    margin: 0 auto;
}

.article-sort {
    width: 100%;
    max-width: 482px;
    margin: 0 auto;
}

.article-sort-inside {
    /* display: flex;
    flex-direction: column; */

    width: calc(100%-18px);
    max-width: 430px;

    padding: 8px;
    border: 2px solid;
    margin: 16px;
}

.sort-by-text {
    font-size: 16pt;
}

.radio-button-grid {
    display: flex;
    justify-content: space-evenly;
}

.article-list li {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    max-width: 450px;
    margin: 16px;
}

.article-card {
    border: 2px solid;
}

.article-card img {
    width: 100%;
    border-bottom: 2px solid;
}

.article-card-title {
    min-height: 72px;
    font-size: 18pt;
    text-align: left;
    padding: 0px 8px 4px 8px;
}

.article-card-left {
    text-align: left;
    padding: 0px 8px;
}

.article-body {
    text-align: left;
}

.article-body img {
    display: block;
    width: 99%;
    margin: 16px auto 0;
    border: 2px solid;
}

.comment-divider {
    font-size: 20pt;
    border-bottom: 2px solid;
    margin: 8px auto;
}

.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-list li {
    width: 100%;
    margin: 16px auto;
}

.comment-card {
    text-align: left;
    border: 2px solid;
    padding: 8px;
}

.comment-body {
    margin: 8px 0;
}

.comment-delete-button {
    padding: 4px 8px;
    margin: 8px 8px 0 0;
}

.comment-delete-msg {
    margin: 8px 0 0 0;
}

.vote-block {
    display: flex;
}

.vote-block button {
    width: 25px;
    height: 25px;
    padding: 0;
}

.vote-block * {
    margin-right: 12px;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.add-comment-form label {
    text-align: left;
}

.add-comment-form textarea {
    padding: 4px;
    margin: 8px 0;
    height: 4em;
    resize: vertical;
    font-size: 12pt;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.add-comment-form button {
    width: 150px;
}

.add-comment-form-empty {
    border: 1px solid red;
}
